* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.calculator {
    font-size: 45px;
    width: 400px;
    height: 500px;
    margin: 150px auto;
}

.calculator .header {
    padding: 20px;
    color: white;
    background: rgb(66 76 82);
    text-align: right;
}

.calculator .calculations {
    background-color: rgb(210, 220, 228);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.calculator .calculations div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.calculator .calculations div:not(:last-child) {
    border-right: #adbecd solid 2px;
}

.calculator .calculations div span {
    width: 100%;
    text-align: center;
    padding: 10px;
    cursor: default;
    transition: 0.3s;
}

.calculator .calculations div > span:hover {
    background-color: rgba(5, 136, 243, 0.548);
}

.calculator .calculations div > span:active {
    background-color: rgba(5, 136, 243, 0.24);
}

.calculator .calculations div span:not(:last-child) {
    border-bottom: #adbecd solid 2px;
}

.calculator .calculations div .equal {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
